.*

!.gitignore

*$py.class
*.bak
*.out
*.py[cod]
*.svg
*tmp*
__pycache__/
tags

/bin
/codebooks
/data
/logs
/notebooks
/tests
Local.mk

# Distribution / packaging
*.egg*
MANIFEST
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
share/python-wheels/
var/
wheels/
